<section class="about row" id="about">
  <div class="about-equations">
    <canvas id="aboutCanvas"></canvas>
    <p class="equation night" id="keplerEq">\(\frac{dA}{dt}=\frac{1}{2}r^2\frac{d\theta}{dt}\)</p>
    <p class="equation night" id="einGravEq">\(R_{\mu\nu}-\frac{1}{2}Rg_{\mu\nu} = \frac{8\pi G}{c^4}T_{\mu\nu}\)</p>
    <p class="equation clear-skies" id="stefanBoltzmannEq">\(j = \sigma T^4\)</p>
  </div>

  <div class="about-container col-md-10 col-md-offset-1 col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="about-block">
      {{ 'about'|content }}
    </div>
  </div>
</section>
