<footer class="footer row" id="footer">
  <div class="footer-container col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">

    <div class="col-md-4 col-xs-8 footer-left">
      {{ 'footer/1'|content }}
    </div>

    <div class="col-md-8 col-xs-4 footer-right">
      {{ 'footer/2'|content }}
    </div>

    <div style="clear:both"></div>
  </div>
</footer>
