<nav class="nav" id="nav">
  <div class="menu-control">
    <a href="#" id="menu-control"><i class="fa fa-bars fa-2x"></i></a>
  </div>

  <div class="links-wrapper">
    <ul class="links">
      {% if not is_front_page %}<li><a href="{{ base_url }}">home</a></li>{% endif %}
      <li><a href="#">about</a></li>
      <li><a href="#" id="nav-contact">contact</a></li>
      <li><a href="http://as.nyu.edu/physics.html" target="_blank">department</a></li>
    </ul>
  </div>
</nav>
