<nav class="nav" id="nav">
  <div class="menu-control">
    <a href="#" id="menu-control"><i class="fa fa-bars fa-2x"></i></a>
  </div>

  <div class="links-wrapper">
    <ul class="links">
      <li><a href="#"><p>about</p></a></li>
      <li><a href="#"><p>contact</p></a></li>
      <li><a href="#"><p>department</p></a></li>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  // Navbar control logic
  $('#menu-control').click(function (e) {
    if (!$('.nav').hasClass('active')) {
      $('.nav').addClass('active');
    } else {
      $('.nav').removeClass('active');
    }

    return false;
  });

  $('body').click(function (e) {
    if (e.target.id !== 'nav' || !$(e.target).parents('#nav').size()) {
      if ($('.nav').hasClass('active')) {
        $('.nav').removeClass('active');
      }
    }
  });
</script>
