<nav class="nav" id="nav">
  <div class="menu-control">
    <a href="#" id="menu-control"><i class="fa fa-bars fa-2x"></i></a>
  </div>

  <div class="links-wrapper">
    <ul class="links">
      {% if not is_front_page %}<li><a href="{{ base_url }}">home</a></li>{% endif %}
      {% if not is_front_page %}
        <li><a href="{{ base_url }}#about" id="nav-about">about</a></li>
      {% else %}
        <li><a href="#about" id="nav-about">about</a></li>
      {% endif %}
      <li><a href="#" id="nav-contact">contact</a></li>
      <li><a href="http://as.nyu.edu/physics.html">department</a></li>
      <li><a href="{{ base_url }}/resources/">resources</a></li>
    </ul>
  </div>

  <div class="social-links-wrapper">
    <ul class="social-links">
      <li class="social-fb"><a href="https://www.facebook.com/nyusocietyofphysicsstudents/"><i class="fa fa-facebook fa-2x"></i></a></li>
      <li class="social-insta"><a href="https://www.instagram.com/nyuphysics/"><i class="fa fa-instagram fa-2x"></i></a></li>
    </ul>
  </div>
</nav>
