{% if is_front_page %}

  {# Landing page content #}
  {% for post in paged_pages|sort_by('time')|reverse %}
    <article class="post col-md-8 col-md-offset-2">
      <div class="post-content">
        {{ post.id|content }}
      </div>
    </article>
  {% endfor %}

{% else %}
  {# Single page content #}

{% endif %}
