<div class="posts-header-container col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
  <h1 class="posts-header">{{ 'resources'|title }}</h1>
</div>

<article class="post resource col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
  <div class="post-content">
    {{ 'resources/index'|content }}
  </div>
</article>
