@import 'globals';

$sky-blue: #55A3F7;
$night-navy: #001F3F;
$cloudy-grey: #AAAAAA;
$pale-seafoam: lighten($seafoamlt, 20%);

$sky-text: #0D0C31;

section.about {
  height: 100vh;

  .about-container {
    position: relative;
    text-align: center;
    height: 100%;

    .about-block {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      h1 {
        display: inline-block;
        vertical-align: middle;

        font: {
          size: 40pt;
          weight: 300;
        }

        @include mq('xs', max) {
          font-size: 24pt;
        }
      }
    }
  }
}

section.about.clear-skies {
  background-color: $sky-blue;

  .about-container {

    h1 {
      @include linkdynamicinv($sky-text);
      color: $sky-text;
    }
  }
}

section.about.night {
  background-color: $night-navy;

  .about-container {

    h1 {
      @include linkdynamicinv($seafoamlt);
      color: $seafoamlt;
    }
  }
}
