@import 'globals';

.footer {
  position: relative;
  margin-top: $footer-margin-top;
  min-height: $footer-height;
  background-color: $black;
  color: $tan; // Maximum contrast

  .footer-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 40px;
    padding-bottom: 40px;

    // General resets for the footer
    h1, h2, h3 {
      color: $white;
    }

    h1 {
      font-size: 16pt;
    }

    h2 {
      font-size: 14pt;
    }

    h3 {
      font-size: 12pt;
    }

    a, p, li {
      font-size: 9pt;
    }

    a {
      color: darken($tan, 20%);

      &:hover {
        color: lighten($tan, 10%);
      }
    }

    ul {
      list-style: none;
      padding-left: 20px;
    }

    .footer-right {
      text-align: center;
      transform: translateY(25%);

      img {
        display: block;
        margin: 5px auto;
        max-width: 100%;
        height: auto;
      }

      @include mqpixel(0) {
        .catbug-1 {
          display: inline;
        }

        .catbug-2 {
          display: none;
        }
      }

      @include mqpixel(1) {
        .catbug-1 {
          display: none;
        }

        .catbug-2 {
          display: inline;
        }
      }
    }
  }
}
