// MIXINS
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

$breakpoints: (
  "xs": 768px, // Only use 'max' for this
  "sm": 768px,
  "md": 992px,
  "lg": 1200px
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type == max {
      $width: $width - 1;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// Static coloring of links; handle should be a, but in case for classing, I'll leave it open
@mixin linkstatic($handle: a) {

  #{$handle} {
    @content;

    &:hover {
      @content;
    }

    &:visited {
      @content;
    }
  }
}

// Unified left-bottom drop shadows
@mixin textshadow($size: 5pt, $color: $dropshadow) {
  text-shadow: -#{$size} #{$size} 0 #{$color};
}

@mixin boxshadow($size: 15px, $color: $dropshadow) {
  box-shadow: -#{$size} #{$size} 0 #{$color};
}

// Link coloring with no transition
@mixin notransition {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: all 0 ease-in;
  transition: none;
}

// VARIABLES
//
// 0. Bootstrap references
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// 1. Colors
$black: #111111;
$white: #EFEFEF;
$nyupurple: #57068C;
$seafoamlt: #A9BDB2;
$seafoamdk: #93A39A;
$tan: #F2D8A9;

// 2. Dimensions
$nav_xs_width: 80px;
$nav_sm_width: 150px;
$nav_md_width: 230px;

$footer-height: 350px;
$footer-margin-top: 100px;

// 3. Shadow variants
$dropshadow: rgba($black, 0.25);
$violetshadow: transparentize(darken($nyupurple, 10%), .75);
$hovershadow: rgba($white, 0.1);
