// 1. Colors
$black: #111111;
$white: #EFEFEF;
$nyupurple: #57068C;
$seafoamlt: #A9BDB2;
$seafoamdk: #93A39A;
$tan: #F2D8A9;

// 2. Dimensions
$nav_xs_width: 40px;
$nav_sm_width: 150px;
$nav_md_width: 230px;
