@import 'globals';

.header {
  position: relative;
  width: 100%;
  height: 100vh;

  .header-text {
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translateY(-50%);
    width: 40%;

    @include mq('xs', max) {
      left: 5%;
      width: 90%;
    }

    h1 {
      @include transition(0.5s text-shadow);
      margin: 0;
      font-size: 64pt;
      text-shadow: -5pt 5pt 0 $dropshadow;

      @include mq('xs', max) {
        font-size: 42pt;
      }

      &:hover {
        text-shadow: -5pt 5pt 0 $hovershadow;
        cursor: default;
      }
    }
  }

  .header-cat-container {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 500px;
    height: 630px;
    z-index: -1;

    @include mq('xs', max) {
      bottom: -15%;
      right: -25%;
    }

    @include mq('sm') {
      right: $nav_sm_width;
    }

    @include mq('md') {
      right: $nav_md_width;
    }

    .cat-svg {
      @include transition(0.5s opacity ease-out);
      width: 180%;
      height: 180%;
      fill: $white;
      opacity: 1;

      @include mq('xs', max) {
        width: 130%;
        height: 130%;
        opacity: 0.25;
      }
    }

    .cat-svg.fadeout {
      opacity: 0;
    }
  }
}
