@import 'globals';

$post-margin: 20px;
$data-margin: 15px;
$header-margin: 0.5em;
$insert-margin: 10pt;
$insert-width: 65%;
$xs-yt-width: 100%;

$qa-margin-bt: 10px;

@mixin qaPositioning {

  &:nth-child(odd) {
    &::before {
      display: inline-block;
      position: relative;
      margin-right: $qa-margin-bt;
      left: -#{$qa-margin-bt};
      padding: {
        left: 10px;
        right: 10px;
        top: 5px;
        bottom: 5px;
      }
    }
  }

  &:nth-child(even) {
    margin-bottom: 1.5em;
    
    &::before {
      display: inline-block;
      position: relative;
      margin-right: $qa-margin-bt;
      left: -#{$qa-margin-bt};
      padding: {
        left: 10px;
        right: 10px;
        top: 5px;
        bottom: 5px;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Content override for post buffer
.content article:first-child {
  margin-top: 3 * $post-margin;
}

.post {
  margin: {
    top: $post-margin;
    bottom: $post-margin;
  }

  background-color: $white;
  box-shadow: -15px 15px 0 $dropshadow;

  .post-content {
    padding: 15px;

    // General style
    h1 {
      margin-bottom: $header-margin;
      color: darken($seafoamdk, 30%);
    }

    h2 {
      margin-bottom: $header-margin;
      color: $seafoamdk;
      font-size: 1.5em;

    }

    p {
      font-size: 10pt;
      text-align: justify;
    }

    ul {
      margin: 20px auto;
      padding: 0;

      li {
        padding: 10px;
      }
    }

    img {
      display: block;
      margin: $insert-margin auto;
      padding: 10px;
      max-width: $insert-width;
    }

    // Question & Answer blocks
    ul.q-a {
      padding: 0;
      list-style: none;

      li {
        @include qaPositioning();

        &:nth-child(odd) {
          background-color: darken($white, 5%);
        }

        &:nth-child(even) {
          background-color: darken($white, 10%);
        }

        &:nth-child(odd) {
          // These are the Questions
          font-size: 1.3em;
          font-weight: 400;

          &::before {
            content: 'Q';
            font-size: 1.5em;
            color: $white;
            background-color: $nyupurple;
          }
        }

        &:nth-child(even) {
          // These are the Answers

          &::before {
            content: 'A';
            font: {
              size: 1.5em;
              weight: 400;
            }
            padding-left: 13px !important;
            padding-right: 15px !important;
            color: $seafoamdk;
          }
        }
      }
    }

    // YouTube embeds
    .aspect-ratio {
      margin: $insert-margin auto;
      position: relative;
      padding-bottom: 51%;
      height: 0;

      @include mq('xs', max) {
        width: $xs-yt-width;
      }

      @include mq('sm') {
        width: $insert-width;
      }

      iframe {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    // 404
    .were-lost {
      text-align: center;
      p {
        font-size: 24pt;
        text-align: center;
        color: lighten($black, 25%);
      }

      i {
        color: lighten($black, 25%);
      }
    }

    // Metadata
    .post-data {
      @include linkdynamic();

      .post-title {
        margin: $data-margin auto;
        padding: 0;
        font-size: 2.5em;

        a {
          font-weight: 600; // Override base format
        }

        @include mq('xs', max) {
          margin-bottom: 5px;
        }
      }

      .post-date {
        margin: $data-margin auto;
        padding: 0;
        color: darken($seafoamdk, 10%);
        font-weight: 300;
        text-align: right;

        @include mq('xs', max) {
          margin-top: 0;
          text-align: left;
        }
      }
    }
  }
}

// Styling specifically for posts on their own page
.post.single {

  .post-data {
    .post-date {
      min-width: 80px;
      text-align: right;
      float: right;
    }
  }
}

.posts-header-container {
  margin: {
    top: $post-margin;
    bottom: $post-margin;
  }

  .posts-header {
    font-size: 36pt;
    text-shadow: -5pt 5pt 0 $dropshadow;
  }
}

.pagination-container {
  margin: {
    top: $post-margin;
  }

  z-index: 10;
  text-align: center;

  .page-button {
    @include boxshadow(10px);
    @include notransition;

    display: inline-block;
    padding: 10px;
    background-color: $white;

    &:hover {
      @include boxshadow(5px, transparentize($white, 0.5));

      color: $white;
      background-color: darken($nyupurple, 15%);
    }
  }

  .next {
    margin-right: 8px;
  }

  .previous {
    margin-left: 8px;
  }
}
