@import 'globals';

$post-margin: 20px;

.post {
  margin-top: $post-margin;
  margin-bottom: $post-margin;
  background-color: $white;
  box-shadow: -15px 15px 0 $dropshadow;

  .post-content {
    padding: 10px;

    h1 {
      margin-bottom: 1em;
      color: $nyupurple;
    }

    h2 {
      margin-bottom: 0.5em;
      color: $seafoamdk;
    }

    p {
      font-size: 12pt;
    }
  }
}
