@import 'globals';

$post-margin: 20px;
$data-margin: 15px;
$header-margin: 0.5em;
$insert-margin: 10pt;
$insert-width: 65%;
$xs-yt-width: 100%;

.post {
  margin: {
    top: $post-margin;
    bottom: $post-margin;
  }

  background-color: $white;
  box-shadow: -15px 15px 0 $dropshadow;

  .post-content {
    padding: 10px;

    // General style
    h1 {
      margin-bottom: $header-margin;
      color: darken($seafoamdk, 30%);
    }

    h2 {
      margin-bottom: $header-margin;
      color: $seafoamdk;
      font-size: 1.5em;

    }

    p {
      font-size: 10pt;
    }

    img {
      display: block;
      margin: $insert-margin auto;
      padding: 10px;
      max-width: $insert-width;
    }

    // YouTube embeds
    .aspect-ratio {
      margin: $insert-margin auto;
      position: relative;
      padding-bottom: 51%;
      height: 0;

      @include mq('xs', max) {
        width: $xs-yt-width;
      }

      @include mq('sm') {
        width: $insert-width;
      }

      iframe {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    // Metadata
    .post-data {
      .post-title {
        margin: $data-margin auto;
        padding: 0;
        font-size: 2.5em;
        color: $nyupurple;

        @include mq('xs', max) {
          margin-bottom: 5px;
        }
      }

      .post-date {
        margin: $data-margin auto;
        padding: 0;
        color: lighten($black, 15%);
        font-weight: 300;
        text-align: right;

        @include mq('xs', max) {
          margin-top: 0;
          text-align: left;
        }
      }
    }
  }
}

.posts-header-container {
  margin: {
    top: $post-margin;
    bottom: $post-margin;
  }

  .posts-header {
    font-size: 36pt;
    text-shadow: -5pt 5pt 0 $dropshadow;
  }
}

.pagination-container {
  margin: {
    top: $post-margin;
    bottom: $post-margin;
  }

  z-index: 10;
  text-align: center;

  .page-button {
    @include boxshadow(10px);
    @include notransition;

    display: inline-block;
    padding: 10px;
    background-color: $white;

    &:hover {
      @include boxshadow(5px, transparentize($white, 0.5));

      color: $white;
      background-color: darken($nyupurple, 15%);
    }
  }

  .next {
    margin-right: 8px;
  }

  .previous {
    margin-left: 8px;
  }
}
