@import 'bootstrap';
@import 'globals';

// 1. Resets
html {
  height: 100%;
  overflow: hidden;

  body {
    margin: 0;
    background-color: $nyupurple;
    width: 100%;
    min-height: 100%;

    // General text behavior
    font-family: 'Montserrat', sans-serif;
    color: $black;
  }
}

h1,
h2,
h3 {
  font-weight: 600;
  color: $white;
}

a, p {
  font-weight: 300;
}

a {
  color: $nyupurple;
  text-decoration: none;
  transition: color 0.5s;

  &:hover {
    text-decoration: none;
    color: lighten($nyupurple, 20%);
  }

  &:visited {
    color: darken($nyupurple, 20%);
    text-decoration: none;
  }
}

// 2. General layout
.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 999;

  @media screen and (max-width: $screen-xs-max) {
    width: $nav_xs_width;
    background-color: $white;
  }

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: $nav_sm_width;
    background-color: $white;
  }

  @media screen and (min-width: $screen-md-min) {
    width: $nav_md_width;
    background-color: $white;
  }

  .links-wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;

    .links {
      margin: 0 auto;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      list-style: none;
      text-align: right;

      li {
        margin: 10px 20% 10px 0;
      }
    }
  }
}

body {
  .container {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    @media screen and (max-width: $screen-xs-max) {
      width: calc(100% - #{$nav_xs_width});
    }

    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      width: calc(100% - #{$nav_sm_width});
    }

    @media screen and (min-width: $screen-md-min) {
      width: calc(100% - #{$nav_md_width});
    }
  }
}

// 3. Index header
.header {
  position: relative;
  width: 100%;
  height: 100%;

  .header-text {
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translateY(-50%);
    width: 40%;

    h1 {
      margin: 0;
      font-size: 64pt;
      text-shadow: -5pt 5pt 0 rgba($black, 0.25);
    }
  }

  .header-cat-container {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 500px;
    height: 630px;

    .cat-svg {
      width: 180%;
      height: 180%;
      fill: $white;
    }
  }
}
