@import 'globals';

// 1. Resets
html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: $white;

  // General text behavior
  font-family: 'Montserrat', sans-serif;
  color: $black;

  @include mq('xs', max) {
    overflow: {
      x: hidden;
      y: auto;
    }
  }
}

h1, h2, h3 {
  font-weight: 600;
  color: $white;
}

a, p, li {
  font-weight: 300;
}

a {
  color: $nyupurple;
  transition: color 0.5s;

  &:link, &:hover, &:active, &:visited, &:focus {
    text-decoration: none;
  }

  &:hover {
    color: lighten($nyupurple, 20%);
  }

  &:visited {
    color: darken($nyupurple, 5%);

    &:hover {
      color: lighten($nyupurple, 20%);
    }
  }
}

// 2. General layout
@import 'navbar';

body {
  .container {
    display: table;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $nyupurple;
    z-index: -10;

    @include mq('xs', max) {
      width: 100%;
    }

    @include mq('sm') {
      width: calc(100% - #{$nav_sm_width});
    }

    @include mq('md') {
      width: calc(100% - #{$nav_md_width});
    }
  }
}

.row {
  margin: 0; // Override bootstrap margin rules
}

.content {
  min-height: calc(100vh - (#{$footer-height} + #{$footer-margin-top})); // Prevent white boxing
}

// 3. Index header and about section
@import 'header';
@import 'about';

// 4. Posts & Resources
@import 'posts';
@import 'resources';

// 5. Footer
@import 'footer';
