# Building temp
.build

# OSX
*.DS_Store

# Node
node_modules

# SASS
.gulp-scss-cache
.sass-cache

# Themes that we need to build
web/themes/sps

# SFTP config for security reasons
*.ftpconfig

# Admin config for security reasons
web/plugins/pico_edit/config.php
web/config/options.conf
